Data Cleaning
Objectif : préparer un dataset propre et exploitable.
Actions principales :
Importer les données (pandas)
Vérifier les types de données et les valeurs manquantes
Convertir les colonnes importantes (Order Date, Sales, Profit, Discount)
Créer de nouvelles variables utiles :
Year, Month
Profit_Margin = Profit / Sales
Traiter les valeurs aberrantes ou incohérentes
Sauvegarder un dataset nettoyé pour l’EDA

In [1]:
# Import des librairies
import pandas as pd

In [2]:
# Chargement des données
df = pd.read_csv('https://raw.githubusercontent.com/WildCodeSchool/data-training-resources/main/quests/Market_retail.csv')
df

,Order ID,Order Date,Customer Name,Country,State,City,Region,Segment,Ship Mode,Category,Sub-Category,Product Name,Discount,Sales,Profit,Quantity,Feedback?
0,BN-2011-7407039,1/1/2011,Ruby Patel,Sweden,Stockholm,Stockholm,North,Home Office,Economy Plus,Office Supplies,Paper,"Enermax Note Cards, Premium",$ 0.5,$ 45,$ -26,3,False
1,AZ-2011-9050313,1/3/2011,Summer Hayward,United Kingdom,England,Southport,North,Consumer,Economy,Furniture,Bookcases,"Dania Corner Shelving, Traditional",$ -,$ 854,$ 290,7,True
2,AZ-2011-6674300,1/4/2011,Devin Huddleston,France,Auvergne-Rhône-Alpes,Valence,Central,Consumer,Economy,Office Supplies,Art,"Binney & Smith Sketch Pad, Easy-Erase",$ -,$ 140,$ 21,3,True
3,BN-2011-2819714,1/4/2011,Mary Parker,United Kingdom,England,Birmingham,North,Corporate,Economy,Office Supplies,Art,"Boston Markers, Easy-Erase",$ 0.5,$ 27,$ -22,2,True
4,BN-2011-2819714,1/4/2011,Mary Parker,United Kingdom,England,Birmingham,North,Corporate,Economy,Office Supplies,Storage,"Eldon Folders, Single Width",$ 0.5,$ 17,$ -1,2,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8042,AZ-2014-766953,12/31/2014,Jose Gambino,United Kingdom,England,Maidenhead,North,Corporate,Economy,Furniture,Bookcases,"Ikea Stackable Bookrack, Traditional",$ -,$ 245,$ 91,2,True
8043,BN-2014-4140795,12/31/2014,Daniel Hamilton,Netherlands,North Brabant,Eindhoven,Central,Home Office,Economy Plus,Office Supplies,Art,"BIC Pencil Sharpener, Fluorescent",$ 0.5,$ 30,$ -10,2,False
8044,BN-2014-4140795,12/31/2014,Daniel Hamilton,Netherlands,North Brabant,Eindhoven,Central,Home Office,Economy Plus,Office Supplies,Binders,"Avery Binder Covers, Recycled",$ 0.5,$ 23,$ -6,4,True
8045,BN-2014-4140795,12/31/2014,Daniel Hamilton,Netherlands,North Brabant,Eindhoven,Central,Home Office,Economy Plus,Technology,Machines,"StarTech Phone, Red",$ 0.5,$ 108,$ -19,3,False
8046,AZ-2014-766953,12/31/2014,Jose Gambino,United Kingdom,England,Maidenhead,North,Corporate,Economy,Technology,Phones,"Motorola Audio Dock, VoIP",$ -,$ 867,$ 251,5,False

In [3]:
# Aperçu des données
df.head()        # affiche les 5 premières lignes
df.info()        # infos sur les types et valeurs manquantes
df.describe()    # statistiques de base

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8047 entries, 0 to 8046
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       8047 non-null   object
 1   Order Date     8047 non-null   object
 2   Customer Name  8047 non-null   object
 3   Country        8047 non-null   object
 4   State          8047 non-null   object
 5   City           8047 non-null   object
 6   Region         8047 non-null   object
 7   Segment        8047 non-null   object
 8   Ship Mode      8047 non-null   object
 9   Category       8047 non-null   object
 10  Sub-Category   8047 non-null   object
 11  Product Name   8047 non-null   object
 12   Discount      8047 non-null   object
 13   Sales         8047 non-null   object
 14   Profit        8047 non-null   object
 15  Quantity       8047 non-null   int64
 16  Feedback?      8047 non-null   bool
dtypes: bool(1), int64(1), object(15)
memory usage: 1013.9+ KB

          Quantity
count  8047.000000
mean      3.772089
std       2.203369
min       1.000000
25%       2.000000
50%       3.000000
75%       5.000000
max      14.000000

In [4]:
df.columns = df.columns.str.strip() # Supprime les espaces au début et à la fin de tous les noms de colonnes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8047 entries, 0 to 8046
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       8047 non-null   object
 1   Order Date     8047 non-null   object
 2   Customer Name  8047 non-null   object
 3   Country        8047 non-null   object
 4   State          8047 non-null   object
 5   City           8047 non-null   object
 6   Region         8047 non-null   object
 7   Segment        8047 non-null   object
 8   Ship Mode      8047 non-null   object
 9   Category       8047 non-null   object
 10  Sub-Category   8047 non-null   object
 11  Product Name   8047 non-null   object
 12  Discount       8047 non-null   object
 13  Sales          8047 non-null   object
 14  Profit         8047 non-null   object
 15  Quantity       8047 non-null   int64
 16  Feedback?      8047 non-null   bool
dtypes: bool(1), int64(1), object(15)
memory usage: 1013.9+ KB

In [5]:
# Nettoyage des colonnes numériques
# Retirer les symboles $, espace et convertir en float
cols_money = ['Sales', 'Profit', 'Discount']

for col in cols_money:
    df[col] = df[col].astype(str).str.replace('$','').str.strip()
    df[col] = pd.to_numeric(df[col], errors = 'coerce')

In [6]:
# Conversion de la colonne date en datetime
df['Order Date'] = pd.to_datetime(df['Order Date'], format = '%m/%d/%Y')
print(df.dtypes)

Order ID                 object
Order Date       datetime64[ns]
Customer Name            object
Country                  object
State                    object
City                     object
Region                   object
Segment                  object
Ship Mode                object
Category                 object
Sub-Category             object
Product Name             object
Discount                float64
Sales                   float64
Profit                  float64
Quantity                  int64
Feedback?                  bool
dtype: object

In [7]:
# Création de nouvelles colonnes
df['Year'] = df['Order Date'].dt.year   # année de la commande
df['Month'] = df['Order Date'].dt.month # mois de la commande
df['Profit_Margin'] = df['Profit'] / df['Sales']  # marge par commande

In [8]:
# Conversion types
df = df.astype({
    'Order ID': 'string',
    'Customer Name': 'string',
    'Country': 'string',
    'State': 'string',
    'City': 'string',
    'Region': 'string',
    'Segment': 'string',
    'Ship Mode': 'string',
    'Category': 'string',
    'Sub-Category': 'string',
    'Product Name': 'string',
    'Discount': 'float',
    'Sales': 'float',
    'Profit': 'float',
    'Quantity': 'int',
    'Feedback?': 'bool'
})

# Verification conversion types
print(df.dtypes)

Order ID         string[python]
Order Date       datetime64[ns]
Customer Name    string[python]
Country          string[python]
State            string[python]
City             string[python]
Region           string[python]
Segment          string[python]
Ship Mode        string[python]
Category         string[python]
Sub-Category     string[python]
Product Name     string[python]
Discount                float64
Sales                   float64
Profit                  float64
Quantity                  int32
Feedback?                  bool
Year                      int32
Month                     int32
Profit_Margin           float64
dtype: object

In [9]:
# Vérification des valeurs manquantes
df.isnull().sum()

Order ID            0
Order Date          0
Customer Name       0
Country             0
State               0
City                0
Region              0
Segment             0
Ship Mode           0
Category            0
Sub-Category        0
Product Name        0
Discount         4909
Sales             525
Profit            283
Quantity            0
Feedback?           0
Year                0
Month               0
Profit_Margin     752
dtype: int64

In [10]:
# Traitement des valeurs manquantes
df.dropna(subset=['Sales','Profit'], inplace=True)  # supprimer si sales ou profit manquant
df['Discount'].fillna(0, inplace=True)              # remplacer les remises manquantes par 0

# Aperçu final
df.head()

,Order ID,Order Date,Customer Name,Country,State,City,Region,Segment,Ship Mode,Category,Sub-Category,Product Name,Discount,Sales,Profit,Quantity,Feedback?,Year,Month,Profit_Margin
0,BN-2011-7407039,2011-01-01,Ruby Patel,Sweden,Stockholm,Stockholm,North,Home Office,Economy Plus,Office Supplies,Paper,"Enermax Note Cards, Premium",0.5,45.0,-26.0,3,False,2011,1,-0.577778
1,AZ-2011-9050313,2011-01-03,Summer Hayward,United Kingdom,England,Southport,North,Consumer,Economy,Furniture,Bookcases,"Dania Corner Shelving, Traditional",0.0,854.0,290.0,7,True,2011,1,0.339578
2,AZ-2011-6674300,2011-01-04,Devin Huddleston,France,Auvergne-Rhône-Alpes,Valence,Central,Consumer,Economy,Office Supplies,Art,"Binney & Smith Sketch Pad, Easy-Erase",0.0,140.0,21.0,3,True,2011,1,0.150000
3,BN-2011-2819714,2011-01-04,Mary Parker,United Kingdom,England,Birmingham,North,Corporate,Economy,Office Supplies,Art,"Boston Markers, Easy-Erase",0.5,27.0,-22.0,2,True,2011,1,-0.814815
4,BN-2011-2819714,2011-01-04,Mary Parker,United Kingdom,England,Birmingham,North,Corporate,Economy,Office Supplies,Storage,"Eldon Folders, Single Width",0.5,17.0,-1.0,2,True,2011,1,-0.058824

In [12]:
# Sauvegarde du dataset nettoyé
df.to_csv('C:/Users/georg/test/WCS_PYTON/Projets2026/Analyse_performances_commerciales/commandes_nettoyees.csv', index=False)